@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'FateCoreFont';
  src: url('/FateCoreFont.ttf') format('truetype');
}

.fate-font {
  font-family: 'FateCoreFont', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.dice {
  position: absolute;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
}

.one {
  transform: translateZ(100px);
  &:before {
    position: absolute;
    content: '';
    width: 60%;
    height: 20%;
    background: black;
    border-radius: 0%;
  }
}
.two {
  transform: translateX(-100px) rotateY(-90deg);
  &:before {
    position: absolute;
    content: '';
    width: 60%;
    height: 20%;
    background: black;
    border-radius: 0%;
  }
  &:after {
    position: absolute;
    content: '';
    width: 20%;
    height: 60%;
    background: black;
  }
}
.three {
  transform: translateY(100px) rotateX(90deg);
}
.four {
  transform: translateY(-100px) rotateX(90deg);
}
.five {
  transform: translateX(100px) rotateY(90deg);
  &:before {
    position: absolute;
    content: '';
    width: 60%;
    height: 20%;
    background: black;
    border-radius: 0%;
  }
  &:after {
    position: absolute;
    content: '';
    width: 20%;
    height: 60%;
    background: black;
  }
}
.six {
  transform: translateZ(-100px);
  &:before {
    position: absolute;
    content: '';
    width: 60%;
    height: 20%;
    background: black;
    border-radius: 0%;
  }
}

.minus {
  transform: rotateY(0deg) rotateX(45deg) rotateZ(45deg);
}

.plus {
  transform: rotateY(-45deg) rotateX(-22.5deg) rotateZ(-67.5deg);
}

.blank {
  transform: rotateY(45deg) rotateX(-22.5deg) rotateZ(-22.5deg);
}
